*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.main {
  margin-left: 24rem; }

.menu__sidebar {
  background-color: #404E67;
  position: fixed;
  height: 100vh;
  width: 24rem;
  z-index: 100; }

.menu__menu {
  background-color: lightblue;
  margin-left: 24rem; }
